<template>
    <div>
        <h1>Chat Support</h1>
        <FormChatSupport />
    </div>
</template> 

<script>

    import FormChatSupport from '@/components/FormChatSupport.vue'

    export default {
        name: 'ChatSupport',
        components: {
            FormChatSupport
        }
    }
</script>