<template>
    <div>
        <h1>Check-Out Punch</h1>
        <FormCheckOut />
    </div>
</template>

<script>
    import FormCheckOut from '@/components/FormCheckOut.vue'

    export default {
        name: 'CheckOut',
        components: {
            FormCheckOut
        }
    }
</script>