<template>
    <div>
        <h1>Lunch Punch: </h1>
        <FormLunch />
    </div>
</template>

<script>
    import FormLunch from '@/components/FormLunch.vue'

    export default {
        name: 'Lunch',
        components: {
            FormLunch
        }
    }
</script>