<template>

    <div>
        <div style="border: 1px solid gray; max-width: 600px; margin: auto;" v-if="!ready">
            <form id="form-chat-support-name" @submit.prevent="addName">
                <p id="error" v-if="errors.length">
                    <b>Errors:</b>
                    <ul>
                        <li v-for="error in errors" :key="error.id">{{ error }}</li>
                    </ul>
                </p>
                <div>
                    <label for="name">Nombre</label>
                    <el-input ref="name" type="text" id="name" v-model="name" placeholder="Example: Robin Hood" maxlength="50"></el-input>
                </div>
                <button type="submit">Iniciar</button>
            </form>

        </div>

        <div v-else style="text-align: left; padding: 0 0 0 10px;"><h4>Hi {{name}}</h4>
            <p class="float-right" v-for="(i, index) in info" :key="index">{{i.name}} {{i.type}}</p>
        </div>

        <el-container v-if="ready">
            <el-aside width="400px">
                <div class="secundary" >
                    <h4>Usuarios conectados:</h4>
                    <div class="get_primary_room" v-on:click="getPrimaryRoom"> --- Sala principal --- </div>
                    <User
                        v-for="user in users"
                        :key="user.userID"
                        :user="user"
                        :selected="selectedUser === user"
                        @select="onSelectUser(user)"
                    /> 
                </div>
            </el-aside>


            <el-main>

                <div v-if="ready">
                    <div class="" v-if="typing"><small>{{typing}} is typing</small></div>
                    <h4>Mensajes:</h4>

                    <div v-if="form_secundary">
                        <message-panel
                            v-if="selectedUser"
                            :user="selectedUser"
                            @input="onMessagePrivate"
                        />
                    </div>

                    <ul class="chatul" v-if="form_primary">
                        <h5>Sala principal</h5>
                        <li v-for="(m, index) in messages" :key="index" 
                            :class="{'float-left':m.type === 1, 'sending': m.style === 'sending', 'receiving': m.style === 'receiving'}">
                            {{m.by}}: {{ m.msg }}
                        </li>
                    </ul>

                    <form id="form-chat-support"  
                        @submit.prevent="checkForm" v-if="form_primary">
                        <p id="error" v-if="errors.length">
                            <b>Errors:</b>
                            <ul>
                                <li v-for="error in errors" :key="error.id">{{ error }}</li>
                            </ul>
                        </p>
                        
                        <div>
                            <el-input ref="message" type="text" id="message" v-model="message" placeholder="Example: hello world" maxlength="200"></el-input>
                        </div>
                        <button type="submit">Send</button>

                        <div style="margin-top: 30px;">
                            <label for="socket_status" class="font_small">Socket Status:</label>
                            <el-input type="text" id="socket_status" v-model="socket_status" readonly required></el-input>
                        </div>
                        <div style="margin-top: 30px;">
                            <label for="time" class="font_small">Current time:</label>
                            <el-input type="text" id="time" v-model="time" readonly required></el-input>
                        </div>

                        <button v-on:click="disconnect" type="button">Disconnect</button>

                    </form>
                </div>
            </el-main>
        </el-container>
    </div>
</template>

<script>
    import { io } from "socket.io-client";
    import User from "./User";
    import MessagePanel from './MessagePanel';

    const socket = io("http://localhost:3000", {
        withCredentials: false,
        extraHeaders: {
            "Access-Control-Allow-Origin": null
        },
        query: {
            "key": "as35df4sf5d4$a3sdf" 
        }
    });

    export default {
        name: 'FormChatSupport',
        components: { User, MessagePanel },
        data: function() {
            return {
                time: this.getNowConfig(),
                errors: [],
                name: null,
                messages: [],
                code: null,
                socket_status: this.getSocketStatus(),
                message: null,
                typing: false,
                ready: false,
                form_primary: false,
                form_secundary: false,
                info: [],
                people: 0,
                users: [],
                selectedUser: null,
            }
        },
        created(){

            socket.on('connect', () => {
                this.users.forEach((user) => {
                    if(user.self){
                        user.connected = true;
                    }
                });
            });

            socket.on('message', ( data )=>{
                this.messages.push({msg: data.msg, by: data.user, type: 1, style: 'receiving'});
            });

            socket.on('typing', (data)=>{
                this.typing = data
            })

            socket.on('stopTyping', ()=>{
                this.typing = false
            })

            socket.on('joined', (data)=>{
                this.info.push({name: data.username, type:'Ha ingresado al chat'});

                setTimeout(()=>{
                    this.info = []
                }, 5000);
            })

            socket.on('leaved', (data)=>{
                this.users.forEach((user)=>{
                    if(user.userID === data.id){
                        user.connected = false;
                    }
                });

                this.info.push({name: data.username, type:'Ha salido del chat'}); 

                setTimeout(()=>{
                    this.info = []
                }, 5000);
                
            });

            
            const initReactiveProperties = (user) => {
                user.connected = true;
                user.messages = [];
                user.hasNewMessages = false;
            }
            
            socket.on('users', (users) => {
                
                users.forEach((user) => {
                    user.self = user.userID === sessionStorage.getItem('user_id');
                    initReactiveProperties(user);
                });

                this.users = users.sort((a, b) => {
                    if(a.self) return -1; 
                    if(b.self) return 1; 
                    if(a.username < b.username) return -1;

                    return a.username > b.username ? 1 : 0;
                });
                
            }); 

            socket.on("private message", ({ content, from }) => {
                console.log('receiving');
                for(let i = 0; i < this.users.length; i++){
                    const user = this.users[i];
                    if(user.userID === from){
                        
                        user.messages.push({
                            content,
                            fromSelf: false,
                            type: 1
                        });

                        if(user !== this.selectedUser){
                            user.hasNewMessages = true;
                        }
                    }
                }
            });

            
        },
        mounted: () => {
            
        },
        watch:{
            message(value){
                value ? socket.emit('typing', this.name) : socket.emit('stopTyping')
            }
        },
        methods: {
            getNowConfig: function() {
                setInterval(()=>{
                    const today = new Date();
                    const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                    const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    const dateTime = date +' '+ time;
                    this.time = dateTime;
                }, 1000);
            },
            checkForm: function(e){
                this.errors = [];

                if(this.message){
                    return this.submit(e);
                }

                if(!this.message){
                    this.errors.push('The MESSAGE field is required');
                }

                e.preventDefault();
            },
            addName: function(e){
                this.errors = [];

                if(!this.name){
                    this.name = 'Invitado';
                }

                sessionStorage.setItem('user_id', socket.id);
                sessionStorage.setItem('user_name', this.name);

                this.ready = true;
                this.form_primary = true;
                
                const data = {
                    'id': socket.id,
                    'username': this.name
                };

                socket.emit('joined', data)

                e.preventDefault();
            },
            submit: function(){
                this.messages.push({msg: this.message, type:0, by: 'Me', style: 'sending'}); 
                socket.emit("message", {msg: this.message, user: this.name});
                this.resetInput();
            },
            getSocketStatus: function(){
                socket.on('status', (arg)=>{
                    this.socket_status = arg;
                }); 
            },
            resetInput(){
                this.message = '';
            },
            disconnect: function(){
                let data = {
                    id: sessionStorage.getItem('user_id'),
                    name: sessionStorage.getItem('user_name')
                };

                socket.emit('leaved', data);

                socket.disconnect();

                location.reload();
            },
            onMessagePrivate: function(content){
                if(this.selectedUser && typeof content !== 'object'){
                    socket.emit("private message", {
                        content,
                        to: this.selectedUser.userID
                    });
                    this.selectedUser.messages.push({
                        content,
                        formSelf: true,
                        type: 0
                    });
                }
            },
            onSelectUser(user){
                this.form_primary = false;
                this.form_secundary = true;
                this.selectedUser = user;
                user.hasNewMessages = false;
            },
            getPrimaryRoom: function(){
                this.form_secundary = false;
                this.form_primary = true;
            }

        },
        unmounted(){
            socket.off('connect');
            socket.off('disconnect');
            socket.off('leaved');
            socket.off('message');
            socket.off('private message');
            socket.off("user connected"); 
            socket.off("user disconnected"); 
            socket.off("users"); 
        }
    }
</script>

<style scoped>
    form {
        max-width: 400px;
        margin: auto;
    }
    form div{
        margin: 5px;
    }
    form button{
        display: inline-block;
        line-height: 1;
        min-height: 40px;
        white-space: nowrap;
        cursor: pointer;
        color: #67c23a;
        background: #f0f9eb;
        border: 1px solid #dcdfe6;
        border-color: #c2e7b0;
        -webkit-appearance: none;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: 0;
        margin: 0;
        -webkit-transition: .1s;
        transition: .1s;
        font-weight: 500;
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 4px;

    }
    form button:hover {
        background: #67c23a;
        border-color: #67c23a;
        color: #fff;
    }
    #error {
        background-color: #f79d9d;
        padding: 10px;
        font-size: 13px;
    }
    #messages {
        background-color: rgb(225, 243, 216);
        padding: 10px;
        font-size: 13px;
    }

    .font_small {
        font-size: 12px;
    }
    .font_medium {
        font-size: 15px;
    }
    .font_big {
        font-size: 18px;
    }
    label input {
        text-align: center;
    }
    .float-right{
        text-align: right;
    }
    .float-left{
        text-align: left;
    }
    .chatul{
        background-color: white;
        text-align: right;
        text-decoration: none;
        list-style:none;
        padding: 10px;
    }
    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: left;
        padding: 10px;
        /*line-height: 200px;*/
    }
    .el-aside .user {
        padding: 5px;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        /*line-height: 160px;*/
    }

    body > .el-container {
        margin-bottom: 40px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

    .sending, .receiving {
        border-radius: 20px;
        margin: 5px;
        padding: 10px;
        width: fit-content;
    }

    .sending{
        background-color: #b1d3f5;
        margin-left: auto;
    }

    .receiving {
        background-color: #eeeeee;
        margin-right: auto;
    }
    
    .get_primary_room {
        background-color: white;
        color: #67c23a;
        cursor: pointer;
        padding: 10px;
    }

</style>

