<template>
  <div>
    <div class="header">
      <status-icon :connected="user.connected" />{{ user.username }}
    </div>

    <ul class="chatul">
      <li
        v-for="(m, index) in user.messages"
        :key="index"
        :class="{'float-left receiving': m.type === 1, 'float-right sending': m.type === 0}"
      >
        {{ m.content }}
      </li>
    </ul>

    <form @submit.prevent="checkBeforeForm" class="form">
      <p id="error" v-if="errors.length">
          <b>Errors:</b>
          <ul>
              <li v-for="error in errors" :key="error.id">{{ error }}</li>
          </ul>
      </p>

      <el-input ref="input_message" type="text" id="input_message" v-model="input_message" placeholder="Example: hello world" maxlength="200"/>
      <button type="submit" class="send-button">Send</button>
    </form>
  </div>
</template>

<script>
import StatusIcon from "./StatusIcon";

export default {
  name: "MessagePanel",
  components: {
    StatusIcon,
  },
  props: {
    user: Object,
  },
  data() {
    return {
      errors: [],
      input_message: "",
    };
  },
  methods: {
    checkBeforeForm: function(e){
        this.errors = [];

        if(this.input_message){
            return this.onSubmitForm();
        }

        if(!this.input_message){
            this.errors.push('The MESSAGE field is required');
        }

        e.preventDefault();
    },
    onSubmitForm: function() {
        this.$emit("input", this.input_message);
        this.input_message = "";
    },
    
  },
  computed: {
      isValid() {
        return this.input_message.length > 0;
      },
  },
};
</script>

<style scoped>
  #error {
      background-color: #f79d9d;
      padding: 10px;
      font-size: 13px;
  }

  .header {
    line-height: 40px;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
  }

  .messages {
    margin: 0;
    padding: 20px;
  }

  .message {
    list-style: none;
  }

  .sender {
    font-weight: bold;
    margin-top: 5px;
  }

  form {
      max-width: 400px;
      margin: auto;
  }
  form div{
      margin: 5px;
  }
  form button{
      display: inline-block;
      line-height: 1;
      min-height: 40px;
      white-space: nowrap;
      cursor: pointer;
      color: #67c23a;
      background: #f0f9eb;
      border: 1px solid #dcdfe6;
      border-color: #c2e7b0;
      -webkit-appearance: none;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: 0;
      margin: 0;
      -webkit-transition: .1s;
      transition: .1s;
      font-weight: 500;
      padding: 12px 20px;
      font-size: 14px;
      border-radius: 4px;

  }
  form button:hover {
      background: #67c23a;
      border-color: #67c23a;
      color: #fff;
  }
  #error {
      background-color: #f79d9d;
      padding: 10px;
      font-size: 13px;
  }
  #messages {
      background-color: rgb(225, 243, 216);
      padding: 10px;
      font-size: 13px;
  }
  .chatul{
      background-color: white;
      text-align: right;
      text-decoration: none;
      list-style:none;
      padding: 10px;
  }

  .send-button {
    vertical-align: top;
  }

  .sending, .receiving {
      border-radius: 20px;
      margin: 5px;
      padding: 10px;
      width: fit-content;
  }

  .sending{
      background-color: #b1d3f5;
      margin-left: auto;
  }

  .receiving {
      background-color: #eeeeee;
      margin-right: auto;
  }

  .font_small {
        font-size: 12px;
    }
  .font_medium {
      font-size: 15px;
  }
  .font_big {
      font-size: 18px;
  }
  label input {
      text-align: center;
  }
  .float-right{
      text-align: right;
  }
  .float-left{
      text-align: left;
  }
</style>
