<template>
    <div class="user" @click="onClick" :class="{ selected: selected }" v-if="!user.self">
        <div class="description">
            <status-icon :connected="user.connected" />
            <div class="name" >
                {{ user.username }}
            </div>
        </div>
        <div v-if="user.hasNewMessages" class="new-messages">!</div> <!-- NEW -->
    </div>
</template>

<script>

import StatusIcon from './StatusIcon'

export default ({
    name: "User",
    components: { StatusIcon },
    props: {
        user: Object,
        selected: Boolean
    },
    methods: {
        onClick(){
            this.$emit("select");
        }
    },
    computed: {
        status(){
            return this.user.connected ? true : false;
        }
    }
})
</script>

<style scoped>
    .selected { 
        background-color: #a0cff3;
    }
    .description, .user { /* NEW */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .new-messages { /* NEW */
        color: white;
        background-color: rgb(0, 143, 43);
        width: 20px;
        border-radius: 5px;
        text-align: center;
        margin: 5px;
    }
    
</style>