<template>
  <div id="nav">
    <router-link to="/">Check-In Punch</router-link> |
    <router-link to="/break">Break Punch</router-link> |
    <router-link to="/lunch">Lunch Punch</router-link> |
    <router-link to="/check-out">Check-Out</router-link> |
    <router-link to="/chat-support">Chat Support</router-link>
  </div>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#nav a{
  text-decoration: none;
}

</style>
